body {
  text-align: center;
  font: normal normal normal 13px/1.231 arial, helvetica, clean, sans-serif;
}

#container {
  text-align: left;
  width: 75%;
  margin: 0px auto;
  background: #F5F5F5;
  color: #333;
  padding: 20px 40px 20px 40px;
  border-bottom: 10px solid #666;
}

#menu {
  text-align: left;
  width: 75%;
  margin: 0px auto;
  border-top: 10px solid #666;
  border-bottom: 10px solid #666;
  list-style: none;
  padding: 20px 40px 20px 40px;
  background: #dee1e1;
  overflow: hidden;
  display: inline-block;
  display: block;
  font-size: 14px;
  background: #F5F5F5;
}

#menu li {
  float: left;
  padding-right: 10px;
}

#content ul {
  list-style: none;
  padding-left: 0px;
}

h1 {
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
  margin-top: 0px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

a {
  color: #990003;
}

.header
{
	clear: both;
	margin: 50px 0px;
}