body {
  text-align: center;
  font: normal normal normal 13px/1.231 arial, helvetica, clean, sans-serif;
}

table { font: normal normal normal 13px/1.231 arial, helvetica, clean, sans-serif; }

.editor_container {
  height: 200px;
  width: 818px;
  border: 5px solid #666;
}

#editor {
  width: 100%;
  height: 200px;
  font-size: 14px;
  padding: 15px;
}

pre { margin: 0px;}


#header {
    padding-top: 50px;
}

#header h1 { display: none;}
#header h2 { display: none;}

p {
    line-height: 18px;
}
li {
    padding: 2px 0px;
}

img#collections_img {
    float: right;
    padding-top: 15px;
    padding-left: 10px;
}

img#maps_img {
    float: right;
    clear: right;
    padding-top:20px;
    padding-left: 10px;
}

#mug {
    float: right;
}

#logo {
    margin-top: 60px;
}

button#evaluate {
  float: right;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
}
button#evaluate:hover {
  cursor: pointer;
}

thead td {
  font-size: 13px;
}

thead tr {
  color: white;
  background-color: #666;
}

table {
  border-collapse:collapse;
  width: 100%;
}
table,th, td {
  border: 1px solid black;
}
td {
  padding: 5px ;
  vertical-align:top;
}

#container {
  text-align: left;
  width: 75%;
  min-width: 675px;
  margin: 0px auto;
  color: #333;
}

#content {
  width: 94%;
  padding: 3%;
  background: #F5F5F5;
  border-bottom: 10px solid #666;
  border-top: 10px solid #666;
  clear: both;
}

#footer {
  text-align: center;
  color: #7d7d7d;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin-bottom: 0px;
  clear: both;
}

h4, h5 {
  padding-top: 10px;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
  letter-spacing: 1px;
  text-align: left;
}
h2 {
  font-size: 22px;
  margin-top: 0px;
  text-align: left;
}
h3 {  font-size: 18px; }
h4 {  font-size: 16px; }
h5 {  font-size: 12px; }

a {
  color: #990003;
}

.header
{
	clear: both;
	margin: 0px 0px;
}